@charset "UTF-8";
/*configuraçoes globais*/
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image:linear-gradient(to right, #071A26,#5687A6);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: ;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #144E73 ;
}
h2{
    color:#5687A6;
}
p{
    text-align: justify;
}