@charset "UTF-8";
/*configuraçoes globais*/
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image:linear-gradient(to right, #5687A6,#F2F2F2);
}
main{
    background-color: wh;
}
p{
    text-align: justify;
}