@charset "UTF-8";
/*configuraçoes globais*/
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image:linear-gradient(to right, #5687A6,#5687A6#F2F2F2);
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{

}
h2{

}
p{
    text-align: justify;
}