@charset "UTF-8";
@font-face {
    font-family: 'IDroid';
    src: url('fontes/idroid.otf');
}

header {
    background-image: linear-gradient(to top, rgb(26, 93, 56), rgba(26, 93, 56, 0.8), rgba(26, 93, 56, 0.332));
    color: white;
    box-shadow: 5px 3px 7px 1px #0000006e;
    margin: 0%;
    padding: 5px;
}
header>h1 {
    text-align: center;
    margin: 0px;
    padding: 20px;
}

header>p {
    margin: 10px auto 10px auto;
    text-align: center;
    width: 300px;
}

nav>a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 10px;
    padding: 2px;
}

nav>a:hover {
    text-decoration: underline;
    color: #000;
    background-color: rgba(9, 220, 146, 0.895);
}

body {
    background-color: #03BC40;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size: 20px;
    color: #000;
}

main {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 0% 10%;
    box-shadow: 5px 3px 7px 1px #0000006e;
}

main>h1{
    font-family: 'IDroid', Times, serif;
    color:rgb(26, 93, 56);
    margin: 20px;
    font-size: 50px;
}
main>
h2 {
    font-family: 'IDroid', Times, serif;
    color:rgb(26, 93, 56);
    margin: 20px;
    font-size: 30px;
    background-image: linear-gradient(to left, rgba(238, 248, 242, 0.277),rgba(171, 255, 209, 0.237),rgba(67, 166, 112, 0.26));
}

main>p{
    text-indent: 50px;
    display: inline-block;
    text-align: justify;
    margin: 2px ;
}

main>div{
    display:flex;
    text-align: center;
}

main>#imagensCentro{
    margin: auto;
}

footer {
    background-color: rgb(26, 93, 56);
    color: white;
    text-align: center;
    padding: 4px;
}
footer>p {
    margin: 0px;
}